/# ask color.py
/# ask retry cancel.py
/# asksaveasfile().py
/# Askyesno funtion.py
/# Binding.py
/# combox.py
/# Create line.py
/# Menu Button.py
/# Open file.py
/# Radio Button.py
/# scale().py
/# scroll bar.py
/# Sizegrip.py
/# Tree repeat this.py
/#Message box.py
/#Soinbox().py
/.vscode
/AI Voice Assiantant.py
/build
/burj_khalifa.png
/Checkbutton testing.py
/dist
/frame.py
/IMG_20240113_161012.png
/Kivy
/matplot_tutorial.png
/movies.png
/movies_pie.png
/New Tkinter.py
/output_pandas_1
/output_pandas_1.csv
/Status bar.py
/test.py
/testing1.py
/Tkinter.py